{% extends 'base.html' %}

{% block content %}
    {% for department in page_obj %}
<a class="list-group-item list-group-item-action list-group-item-dark">{{ department.name }}</a>
    <li class="list-group-item bg-o text-black"></li>
        {% if department.employee_set.all %}
            <ul>
                {% for employee in department.employee_set.all %}
                    <li>Employee name: {{ employee.first_name }} {{ employee.last_name }}</li>
                    <li>Occupation: {{ employee.occupation }}</li>
                    <li>Mobile Phone: {{ employee.mobile_phone }}</li>
                    <li>Work Phone: {{ employee.work_phone }}</li>
                    <li>Email: {{ employee.email }}</li>
                    <hr>
                {% endfor %}
            </ul>
        {% else %}
            <p>No employees found.</p>
        {% endif %}
    {% endfor %}

    <div class="text-end">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-dark">&laquo; Previous</a>
    {% endif %}

    {% if page_obj.has_previous or page_obj.has_next %}
        <span class="mx-2">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% endif %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-dark">Next &raquo;</a>
    {% endif %}
    </div>
{% endblock %}
